 =========================
# Godot Engine
# =========================
.godot/
!.godot/imported/
.import/

# =========================
# Export & platform build
# =========================
.export/
.build/
.android/

# =========================
# Temporary & logs
# =========================
*.log
*.tmp

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db
.vscode/